*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  .card{
    min-height: 26rem;
    width: 22rem;
    margin:10px;
    border-radius: 0.5rem;
    padding:35px;
    box-shadow: 0px 1px 1px 1px gray;
    transition: all ease-in-out;
  }

  .card:hover .card-img-top{
transform: scale(1.1);
box-shadow: 1px 2px 3px 2px gray;
  }
  .card:hover{
    transform: translateY(-10px);
    background-color: rgb(207, 207, 207);
  }
  .card-body{
    flex: 0.3 0.3 auto!important;
    /* padding: 0 0!important; */
    text-align: center;
  }
  .card-error{
    color: red;
  }
  a{
    all: unset;
  }
  /* search styling.... */
  .search-section{
text-align: center;
margin: 40px 0;
  }
  .search-section input{
    padding: 10px 20px;
    border-radius: 20px;
   
  }
  /* Navv styling */
  .NavvDecor{
    padding: 15px 0;
    background-color: rgb(207, 207, 207);
    box-shadow: 0px 1px 2px 2px gray;
   
   
  }
  .NavvDecor h1{
    font-weight: 700!important;
    text-shadow:  2px 4px 0px rgb(128, 127, 127);
   font-size: 42px!important;
  }
  .movie-section{
    background-color: rgb(207, 207, 207);
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    padding-top: 100px;
    
  }
  /* singlepage styling */
  .movie-card{
    height: auto;
    border-radius: 1.5rem;
    padding:15px;
    box-shadow: 1px 1px 1px 1px gray;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .movie-card img{
    border-radius: 1.5rem;
    height: 22rem;
    width: 15rem;
    box-shadow: 1px 2px 3px 2px gray;
   
  }
  .movie-card .cardBody{
 padding-top: 20px;
  }
  .loading{
    font-weight: 700;
    font-size: 50px;
  }
  